@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: white;
    --secondary-color: rgb(131, 30, 226);
    --accent-color: rgb(56, 176, 227);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Zalando Sans, sans-serif, helvetica;
  
   
}



#wrapper {
    background: linear-gradient(to bottom right, var(--secondary-color), var(--accent-color));
    padding: 30px 40px;
   
}



.content-box {
    max-width: 700px;
    width: 100%;
    min-height:  600px;
    height: 91vh;
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
    
    border-radius: 20px;
    overflow: hidden;
    
    background-color: var(--primary-color);
    
  
    
}

header {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--accent-color);
    
}

main {
   
    border: 3px solid black;
    height: 50%;
   
}

footer {
    

    height: 30%;
    
   
    form {
        display: block;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            display: flex;
            width: 70%;
            height: 45px;
            border-radius: 25px;
            margin-right: 15px;
            

        }
        button {
            
            border-radius: 20px;
            height: 45px;
            width: 70px;
            color: var(--primary-color);
            background-color: gray;
            font-weight: 450;
            font-size: small; 
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 150ms ease;
        }
    }
   
}

#notification {
    display: block;
    border-top: 1px solid rgb(255, 191, 0);
    background-color: rgba(240, 201, 8, 0.425);
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    text-align: center;


}

#chat-box {
    
    overflow-y: auto;
   
}

.bot {
    display: flex;
    justify-content: start;
    border: 4px solid gray;
}

.user {
    display: flex;
    justify-content: end;
    border: 4px solid blue;
}


